@font-face {
    font-family: 'Showtime';
    src: url('/fonts/Showtime.ttf') format('truetype')
}

html, body {
    height: 100%;
}

body {
    background: rgb(146, 80, 82);
  background: linear-gradient(90deg, rgba(180,5,12,1) 0%, rgba(109,9,23,1) 30%, rgba(103,9,24,1) 50%, rgba(117,12,27,1) 70%, rgba(219,35,45,1) 100%);
}

.background-lander {
    width: 100%;
    height: calc(70vh - 60px);
    background-image: url("images/salle.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 720px) {
    .background-lander {
        height: 50vh;
    }
}

* {
    list-style: none;
}

/* h2 .text-center.mt-4 {
    font-size: calc(2rem + .9vw);
} */

h1, h2 {
    font-family: 'Showtime', sans-serif;
}


.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}
    

/* .card-text {
    padding-left: 0;
} */
/* header{
    background-image:url("salle-cinema-photo-parue-1er-decembre_0_1181_787.jpg");
    background-size: cover;
    height: 200px;
} */

body{ 
    background-color: bisque;
}


.returnUp i {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(252, 251, 251, 0.63);
    color: red;

}


.col{
    transform: translateY(-10px);
    animation: fade in 0.4s ease-out forwards;

}
main {
    min-height: calc(100vh - 50px - 35px - 1.5rem);
}

main:empty::before {
    content: "Aucun résultat ne correspond à votre recherche...";
    color: white;
}


@media  screen and (min-width: 500px) and (max-width: 1399px) {
  main img {
    height: 500px;
  }
}
@media  screen and (min-width: 1400px) {
  main img {
   height: 600px;
  }
} 